@import "tailwindcss";

@theme {
    --animate-show-content: show-content .5s 1s linear 1 forwards;
    --animate-content-out: content-out .5s linear 1 forwards!important;
    --animate-show-image: show-image .5s linear 1 forwards;
    --animate-show-thumbnail: show-thumbnail .5s linear 1 forwards;
    --animate-outframe-xs: outframe-xs 0.5s linear 1 forwards;
    --animate-outframe-default: outframe-default 0.5s linear 1 forwards;
    --animate-timer: timer 3s linear 1 forwards;
    --animate-effect-next: effect-next .5s linear 1 forwards;
}

@layer utilities {
    .animation-delay-1\.2 {
        animation-delay: 1.2s!important;
    }
    
    .animation-delay-1\.4 {
        animation-delay: 1.4s!important;
    }
    
    .animation-delay-1\.6 {
        animation-delay: 1.6s!important;
    }
    
    .animation-delay-1\.8 {
        animation-delay: 1.8s!important;
    }

    /* keyframes */
    @keyframes show-content {
        to {
            translate: 0 0;
            filter: blur(0);
            opacity: 1;
        }
    }

    @keyframes content-out {
        to {
            translate: 0 -50px;
            opacity: 0;
        }
    }

    @keyframes show-image {
        to {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }

    @keyframes show-thumbnail {
        from {
            width: 0;
            opacity: 0;
        }
    }

    @keyframes effect-next {
        from {
            transform: translateX(150px);
        }
    }

    @keyframes outframe-xs {
        to {
            width: 150px;
            height: 220px;
            bottom: 20px;
            left: 50%;
            border-radius: 20px;
        }
    }

    @keyframes outframe-default {
        to {
            width: 150px;
            height: 220px;
            bottom: 50px;
            left: 50%;
            border-radius: 20px;
        }
    }

    @keyframes timer{
        from { width: 100%}
        to {width: 0}
    }
}